{% extends 'main2.html' %}
{% load static %}
{% block content %}
<div class = 'signup-container'>

	<div class = 'signup-form'>
			
		<p class = 'pbutton'>Enter the OTP sent to {{email}}</p>
		<form method = 'POST' action =''>
			{% csrf_token %}
			<p>Enter OTP <br><input type = 'text' value = '{{otp}}' name = 'otp' placeholder ='enter otp' maxlength ='6' required ></p>

			<p>Enter Password <br><input type = 'password' value = '{{password}}' name = 'password' placeholder="enter new password" required></p>

			<p>Confirm Password <br><input type = 'password' value = '{{cpassword}}' name = 'cpassword' placeholder="confirm enter new password" required></p>

			<input class = 'cbutton' type =  'submit' value = 'Change password' >

			{% for message in messages %}

			{% if message %}
			<p class = 'required'>{{message}}</p>
			{% endif %}

			{% endfor %}
		</form>
	</div>
</div>



{% endblock %}