{% extends 'main2.html' %}
{% load static %}
{% block content %}
<div class = 'signup-container'>

	<div class = 'signup-form'>
			
		<p class = 'pbutton'>Enter the OTP sent to {{email}}</p>
		
			{% for message in messages %}

			{% if message %}
			<p style="color: red" class = 'login-message'>{{message}}</p>
			{% endif %}

			{% endfor %}

		<form method = 'POST' action =''>
			{% csrf_token %}
			<p>Enter OTP <br><input class = 'input' type = 'text' value = '{{otp}}' name = 'otp' placeholder ='enter otp' maxlength ='6' required ></p>

			<p>Enter Password <br><input class = 'input' type = 'password' value = '{{password}}' name = 'password' placeholder="enter new password" required></p>

			<p>Confirm Password <br><input class = 'input' type = 'password' value = '{{cpassword}}' name = 'cpassword' placeholder="confirm enter new password" required></p>

			<input class = 'login-button' type =  'submit' value = 'Change password' >
		</form>
	</div>
</div>



{% endblock %}