{% extends 'main1.html' %}

{% load static %}
{% block title %}




{% endblock %}

{% block script %}
<!-- <script src = '{% static "javascript/main1.js" %}' defer></script> -->
{% endblock script%}

{% block content %}

<div class = 'chat-room'>
	<header class = 'header-design'>
		<a href = '{% url "chats" %}'><img style ='border-radius:50%;width:40px;height:40px' src ='{% static "bamchat_image/previous.png" %}' ></a>
		<img class = 'user-img' src="{{user.usercontact.picture.url}}">
		<a style="margin-left: -20px">{{user.username}} </a>
		{% if friend.block is True %}
			{% if friend.block_initiator == request.user.username %}
		<a style="color:blue;background-color: white;padding:5px;border-style: outset;border-radius: 15px;float:right" href="{% url 'unblock_friend' id %}">Unblock</a>
			{% endif %}
		{% else %}
		<a style="color:blue;background-color: white;padding:5px;border-style: outset;border-radius: 15px;float:right" href="{% url 'block_friend' id %}">Block</a>
		{% endif %}
		
	</header>
	<section class = 'chatting-section'>

		{% for message in messages %}
		{% if message.sender == request.user %}
		<div class = 'sender-message'>
		<p style = 'padding-top: 10px; font-size:15px' class = 'group-message'>
			{{message.text}}
		</p>
		<small class ='message-design'>
			<a class = 'edit-message' href="{% url 'edit-chatmessage' message.id %}">edit</a>
			<a class = 'delete-message'style="color:red" href="{% url 'delete-chatmessage' message.id %}">delete</a>
			<a style="margin-left: -5px">{{message.date}}</a>
		</small>
		<br>
		</div>
		
		{% else %}

		<div class = 'receiver-message'>
		<p class = 'group-message'>{{message.text}}</p>
		<small style = 'font-size: 13px;font-weight: 500;float:right'>{{message.date}}</small><br>
		</div>
		
		{% endif %}
		{% endfor %}

	</section>
	

{% if friend.block is True %}
	<footer class ='input-message1'>
		{% if friend.block_initiator == request.user.username %}
			<p class = 'block'>You have blocked {{user.username}}</p>
			{% else %}
			<p class = 'block'>You have been blocked by {{friend.block_initiator}}</p>
		{% endif %}
			
	</footer>
	
		
{% else %}
	<footer class ='input-message'>
		<form method = 'post' action  = ''>
			{% csrf_token %}
			<textarea class = 'submit-form' name = 'text' required></textarea>
			<input class ='send' title ='Send' type = 'submit' value = 'send'>
		</form>
	</footer>
		
{% endif %}
	
</div>

{% endblock %}

