{% extends 'main1.html' %}
{% load static %}
{% block content %}
<div style="background-color: white;height:410px;padding-bottom:90px">
	<div style = 'margin-top:5px;margin-bottom: 17px;background-color: blue;padding:5px 0px 5px 0px'>
		<a href = '{% url "home-page" %}'><img style = 'border-color: white; border-style: solid;width:4%' class = 'icon' src ='{% static "bamchat_image/previous.png" %}'></a>
		<small style ='color:white;font-weight: 700; font-size:20px'>{{post_title}}</small>
	</div>
	<div style="background:white;padding-bottom: 90px">
		{% if length > 5 %}
			{% for post_and_comment_id, comment in posts_and_comment_id5 %}
			<section style="margin-left: 80px;margin:10px 0px 17px 60px; ">
				<section style="background:rgb(200,200,200) ;padding:7px 5px 7px 1px;color:black;width:40%;border-radius:15px">
					<a style="color:black" href = '{% url "view-friend" comment.user.id %}' ><small><img style="width:3%; margin-right: 15px" src="{{comment.user.usercontact.picture.url}}">{{comment.user}}</small></a><br>
					<section style="margin-left: 45px;">
							<small style="text-align:justify;">{{comment}}</small>
							<br>
							{% if comment.user == request.user %}
							<a style = 'color:blue' href="{% url 'edit-comment' post_and_comment_id %}">edit</a>
							<a style = 'color:red' href="{% url 'delete-comment' post_and_comment_id %}">delete</a>
							{% endif %}
					</section>
					
				</section>
				
			</section>
		
			{% endfor %}
			<a href = '{% url "viewcomment" post.id %}' style="margin-left: 80px;background:blue;padding:5px;border-radius: 13px;color:white">load all comments</a>
		{% else %}
				{% for post_and_comment_id, comment in posts_and_comment_id %}
				<section style="margin-left: 80px;margin:10px 0px 0px 60px; ">
					<section style="background:rgb(200,200,200) ;padding:7px 5px 7px 1px;color:black;width:40%;border-radius:15px">
						<a style="color:black" href = '{% url "view-friend" comment.user.id %}' ><small><img style="width:3%; margin-right: 15px" src="{{comment.user.usercontact.picture.url}}">{{comment.user}}</small></a><br>
						<section style="margin-left: 45px;">
							<small style="text-align:justify;">{{comment}}</small>
							<br>
							{% if comment.user == request.user %}
							<a style = 'color:blue; margin-left:7px; font-size:14px' href="{% url 'edit-comment' post_and_comment_id %}">edit</a>
							<a style = 'color:red;font-size:14px' href="{% url 'delete-comment' post_and_comment_id %}">delete</a>
							{% endif %}
						</section>
							
					</section>
					
				</section>
		
			{% endfor %}

		
		{% endif %}
		

	</div>

	<div style="position:fixed;bottom: 1px;">
		<!-- <footer style="position: fixed; bottom:2px"> -->
			<form method = 'post' action = ''>
			{% csrf_token %}
		<p>
			<input style="height:45px;width:400px;margin-left: 60px; text-indent: 10px" type="text" name="comment" placeholder="enter your comment">	
		</p>
		
			</form>
		<!-- </footer> -->
	
	</div>
</div>



{% endblock content %}