{% extends 'main1.html' %}
{% load static %}
{% block content %}
<div class="chat-room">
	<header class = 'header-design'>
		<a href = '{% url "home-page" %}'><img class = 'back-comment' src ='{% static "bamchat_image/previous.png" %}' >
		</a>
		<a class="post-title">{{post_title}}
		</a>
		{% if request.user == post.post_creator %}
			{% if post.close_comment is True %}
			<a class="block-comment" href="{% url 'unblock_comment' post.id %}">unblock comment</a>
			{% else %}
			<a class="block-comment" href="{% url 'block_comment' post.id %}">block comment</a>
			
			{% endif %}
		{% endif %}
	</header>
	<section class = 'chatting-section'>
	{% if length > 20 %}
		{% for post_and_comment_id, comment in posts_and_comment_id20 %}
		<section style="margin:3px 0px 7px 0px; ">
			<section class="comment-container">
				<img style="width:30px; height:30px;border-radius: 50%;margin:0px 0px 0px 5px" src="{{comment.user.usercontact.picture.url}}">

				<a style="color:blue;position: relative;bottom: 10px;margin:0px 0px 0px -3px" href = '{% url "view-friend" comment.user.id %}' >{{comment.user}}
				</a>
				<br>
				<section class="user-comment">
				<small style="font-size:15px">{{comment}}</small>
				<br>
				
				</section>
				<section style="font-size: 13px" class="user-comment">
					{% if comment.user == request.user %}
						<a style = 'color:blue' href="{% url 'edit-comment' post_and_comment_id %}">edit</a>
						<a style = 'color:red' href="{% url 'delete-comment' post_and_comment_id %}">delete</a>
					{% endif %}
				</section>
					
			</section>
				
		</section>
		
			{% endfor %}
			<a href = '{% url "viewcomment" post.id %}' style="margin-left: 80px;background:blue;padding:5px;border-radius: 13px;color:white">load all comments</a>
		{% else %}
			{% for post_and_comment_id, comment in posts_and_comment_id %}
			<section style="margin:3px 0px 7px 0px; ">
				<section class="comment-container">
					<img style="width:30px; height:30px;border-radius: 50%;margin:0px 0px 0px 5px" src="{{comment.user.usercontact.picture.url}}">

					<a style="color:blue;position: relative;bottom: 10px;margin:0px 0px 0px -3px" href = '{% url "view-friend" comment.user.id %}' >{{comment.user}}
					</a>
					<br>
					<section class="user-comment">
					<small style="font-size:15px">{{comment}}</small>
					<br>
					
					</section>
					<section style="font-size: 13px" class="user-comment">
						{% if comment.user == request.user %}
							<a style = 'color:blue' href="{% url 'edit-comment' post_and_comment_id %}">edit</a>
							<a style = 'color:red' href="{% url 'delete-comment' post_and_comment_id %}">delete</a>
						{% endif %}
					</section>
					
				</section>
				
			</section>
		
			{% endfor %}

		
		{% endif %} 
	</section>

{% if post.close_comment is True %}
	<footer  class ='input-message1'>
		<p style="color:blue;background-color: white;text-align:center;width: 100%">comment section closed
			</p>
	</footer>
		
{% else %}
	<footer  class ='input-message'>
		<form method = 'post' action  = ''>
				{% csrf_token %}
				<textarea class = 'submit-form' name = 'comment' required></textarea>
				<input class ='send' title ='Send' type = 'submit' value = 'send'>
		</form>
	</footer>
		
			
			
{% endif %}


{% endblock content %}