{% extends 'main1.html' %}

{% load static %}
{% block title %}
Bamchat Create Group Page

{% endblock %}

{% block script %}
<script src = '{% static "javascript/main1.js" %}' defer></script>
{% endblock script%}

{% block content %}
<div style='display:block;padding-top:30px'>
	<a href = '{% url "group-page" %}'><img style = 'background-color: white;border-width:5px; border-style: solid;border-color: white;width:30px; 'class = 'icon' src ='{% static "bamchat_image/previous.png" %}' ></a>
	
</div>

<div  class = 'create-post-container'>
	<div style ='width:90;display: block;margin-right: auto;margin-left: auto;padding:10px 10px 100px 10px'>
		<h3 >Create Group</h3>
		<form method = 'post' action = '' enctype="multipart/form-data">
			{% csrf_token %}
	 	<p style = 'color:blue;font-weight: 900'>Enter group name <br><br>
	 	<input style ='width:350px; height:20px; text-indent: 10px;' name = 'group_name' placeholder =  'Enter group name' type ='text' required></p>
	 	<p style = 'color:blue; font-weight: 900'>Enter group description<br><br>
	 	<textarea class="textarea" name = 'group_desc' placeholder =  'Enter group description'></textarea> 

	 	<p style = 'color:blue;font-weight: 900'>Select group picture <br><br>
	 	<input style ='height:20px;' name = 'group_picture'  type ='file' accept="image/*"></p>

	 	<h3 style = 'color:blue;'>Add Participant</h3>
	 	<table >
	 		{% for message in messages %}
	 		{{message}}
	 		{% endfor %}
	 		{% for friend in friends %}

		 	{% if friend.request_sender == request.user %}
		 	<tr >
		 		<td >{{friend.request_receiver}}</td>
		 		<td><input name = 'member{{friend.request_receiver.id}}' value = '{{friend.request_receiver.id}}' type = 'checkbox'></td>
		 	</tr>
		 	{% else %}
		 	<tr >
		 		<td>{{friend.request_sender}}</td>
		 		<td><input name = 'member{{friend.request_sender.id}}' value = '{{friend.request_sender.id}}' type = 'checkbox'></td>
		 	</tr>
		 	
		 	{% endif %}
		 	{% endfor %}
	 	</table>
	 	{% if friends %}
	 	<br>
	 	<input style = 'color:white;background:blue;padding:4px;border-radius:10px;border-style: none;' type = 'submit' value = 'Create'>
	 	{% else %}
	 	you need to have atleast a friend before you can create a group
	 	{% endif %}


	 </form>
	
	</div>
	 
	
</div>


	
{% endblock %}

