{% extends 'main1.html' %}
{% load static %}

{% block content %}
{% if picture is True %}
<a href = '{% url "group-info" group.name %}'><img  style = 'background-color: white;border-width:5px; border-style: solid;border-color: white;height:30px;border-radius:50%' src ='{% static "bamchat_image/previous.png" %}' ></a>

<section style="margin-left: 50px">
	<form method = 'POST' action = '' enctype="multipart/form-data" >
	{% csrf_token %}
		<p>Select group picture<br>
		<input type =  'file' value="{{group.group_picture}}" name = 'group_picture' accept = 'image/*' required></p>
		<input type = 'submit', value = 'Change'>
</form>

{% for message in messages %}
<p style="background-color: white;color:red">{{message}}</p>
{% endfor %}
</section>


{% else %}

<a href = '{% url "group-info" group.name %}'><img  style = 'background-color: white;border-width:5px; border-style: solid;border-color: white;height:30px;border-radius:50%' src ='{% static "bamchat_image/previous.png" %}' ></a>
<section style="margin-left:50px">
	<form method = 'POST' action = '' >
	{% csrf_token %}
	<p>Enter group name<br>
	<input type =  'text' value="{{group.name}}" name = 'name' required></p>
	
	<p><input type = 'hidden' value = "{{group.id}}" readonly></p>
	<p>Enter group description<br><textarea  name = 'desc'>{{group.desc}}</textarea> </p>
	<input type = 'submit', value = 'Change'>
</form>

{% for message in messages %}
<p style="background-color: white;color:red">{{message}}</p>
{% endfor %}
</section>

{% endif %}
{% endblock %}

