{% extends 'main2.html' %}

{% block content %}
<div class = 'signup-container'>
	<div class = 'signup-form'>
		{% if email %}
		<p class = 'required' >Account with "{{email}}" does not exist</p>
		{% endif %}

		<form method = 'post' action = ''>
			{% csrf_token %}
			<p class = 'pbutton'>Enter your email</p>
			<p><input class = 'input' type = 'email' name = 'email' placeholder = 'Enter your email' required></p>
			<p><input class ='continue-button' type = 'submit' value = 'Continue'></p>
			
		
		</form>
		
	</div>
</div>


{% endblock %}