{% extends 'main1.html' %}

{% block content %}

<div class ='chat-container' >
{% for friend in friends %}


{% if friend.request_sender == request.user %}
			
			<div class = 'chat-friend' >
				<img style = 'float:left; border-radius: 50%' class = 'icon' src = '{{friend.request_receiver.usercontact.picture.url}}'>
				<a style = 'color:blue' href = '{% url "chat-room" friend.request_receiver.id %}'>{{friend.request_receiver}}
				</a>
				
			</div>
			
		
			{% else %}
			
				<div class = 'chat-friend'>
					<img style = 'float:left; border-radius: 50%' class = 'icon' src = '{{friend.request_sender.usercontact.picture.url}}'>
					<a style = 'color:blue' href = '{% url "chat-room" friend.request_sender.id %}'>
					{{friend.request_sender}}
					</a>
					
					
				</div>
			
			{% endif %}
{% endfor %}
</div>
{% endblock content %}