{% extends 'main1.html' %}

{% load static %}
{% block title %}
Bamchat Friend Page

{% endblock %}

{% block script %}
<script src = '{% static "javascript/main1.js" %}' defer></script>
{% endblock script%}

{% block content %}

<div  style = 'border-style: none' id = 'main'>
	 <!-- |  -->
	<!-- <img class = 'image'  src = '{% static "bamchat_image/logo.png" %}'> -->
	<div class = 'header-bg'>
		<div class = 'head'>
			<p style = 'display:inline'>
<!-- 			<img id = 'show-profile' class = 'icon' style = 'background:white;float:right;margin-top:5px;margin-right: 5px' src = '{% static "bamchat_image/menu.png" %}'>
 -->	
			<form method = 'post' action = ''>
				{% csrf_token %}
				<input class = 'fsearch' name = 'friend' type = 'search' placeholder="search friends....." required>
				
			</form></p>
		</div>

		<div class = 'head2'>
			<a href = '{% url "home-page"%}'><img  title="Home" style = 'background:white;border-radius:25px;' class = 'logo' src = '{% static "bamchat_image/home-button.png" %}'></a>
			{% if frnd_req_length > 0 %}
			<a href = '{% url "friend-page"%}' class = 'active'><img title="Friend" style = 'background:white;border-radius:25px;border-width:3px;border-style:solid;border-color: red' class = 'logo' src = '{% static "bamchat_image/friend.png" %}'></a>
			{% else %}
			<a href = '{% url "friend-page"%}' class = 'active'><img title="Friend" style = 'background:white;border-radius:25px;border-width:3px;border-style:solid;border-color: white' class = 'logo' src = '{% static "bamchat_image/friend.png" %}'></a>
			{% endif %}
			<a href = '{% url "chats"%}' ><img title="Chat" class = 'logo' src = '{% static "bamchat_image/chat.png" %}'></a>
			<a href = '{% url "group-page" %}'><img  title="Group" class = 'logo' src = '{% static "bamchat_image/group.png" %}'></a>
			

		</div>
	</div>
	<div class = 'content-bg'>
	
		<div class = 'sent-request'>
			<h5 >Sent Requests</h5>
			{% if my_request %}
			{% for mrequest in my_request %}
			
			<div class = 'friend-container' >
				<a href = "{% url 'view-friend' mrequest.request_receiver.id %}">
					<div>
						<img style = 'float:left; border-radius: 50%' class = 'image' src = "{{mrequest.request_receiver.usercontact.picture.url}}">
						
						<a style = 'text-align:center; color:black;' href = "{% url 'view-friend' mrequest.request_receiver.id %}" >{{mrequest.request_receiver.username}}</a>
						<br><br>
						<a href = "{% url 'delete' mrequest.id %}" class = 'cancel-button'>Cancel</a>
					</div>
				</a>
			</div>
			
			{% endfor %}
			{% else %}
			<p>No sent request</p>
			{% endif %}
		
			{% if my_req_length > 2 %}
			<p class = 'button'>more</p>
			{% endif %}
			
			
			
		</div>

		<div class = 'friend-request'>
			<h5 >Friend Requests</h5>
			{% if friend_request %}
			{% for fnd in friend_request %}
		
			<div class = 'friend-container'>
				<img style = 'float:left;border-radius:50%' class = 'image' src = "{{fnd.request_sender.usercontact.picture.url}}">
				<a style = 'text-align:center; color:black;' >{{fnd.request_sender.username}}</a>
				<p>
					<a class = 'decline' href = "{% url 'delete' fnd.id %}" >Decline</a>
					<a class ='accept' href = "{% url 'accept' fnd.id %}" >Accept</a>
				</p>
				<!-- class = 'cancel-button' class = 'button' -->
			</div>
			
			
			{% endfor %}
			{% else %}
			<p>No friend request</p>
			{% endif %}

			{% if frnd_req_length > 2 %}
			<a href ='{% url "all-friends-request" %}' style = 'padding:5px' class = 'button'>see more</a>
			{% endif %}
	
			
			
		</div>


		
	</div>


	
	
	
</div>

{% endblock %}

