{% extends 'main1.html' %}

{% load static %}
{% block title %}
Bamchat Group Page

{% endblock %}

{% block script %}
<script src = '{% static "javascript/main1.js" %}' defer></script>
{% endblock script%}

{% block content %}

<div  style = 'border-style: none' id = 'main'>
	 <!-- |  -->
	<!-- <img class = 'image'  src = '{% static "bamchat_image/logo.png" %}'> -->
	<div class = 'header-bg'>
		<div class = 'head'>
		
		</div>

		<div class = 'head2'>
			<a href = '{% url "home-page"%}'><img title = 'Home' style = 'background:white;border-radius:25px' class = 'logo' src = '{% static "bamchat_image/home-button.png" %}'></a>
			
			
			<a href = '{% url "friend-page"%}' class = 'active'><img title = 'Friend' class = 'logo' src = '{% static "bamchat_image/friend.png" %}'></a>
			
			<a href = '{% url "chats"%}' ><img title = 'Chat' class = 'logo' src = '{% static "bamchat_image/chat.png" %}'></a>
			<a href = '{% url "group-page" %}'><img title = 'Group' style = 'background:white;border-radius:25px;border-width:3px;border-style:solid;border-color: white' class = 'logo' src = '{% static "bamchat_image/group.png" %}'></a>
			

		</div>
	</div>

	<div class = 'content-bg'>

		<div style = 'background-color:white;height:60px;padding-top:15px;display: block;font-size:14px'>
			<a href = '{% url "create-group" %}' class = 'button'>Create Group</a>
		</div>
		<div class = 'group-container'>
			{% for group,message in group_message %}
			{% if group.group_picture %}
			<img style ='width:50px;height: 50px; background-color: blue;border-style: solid;border-width: 2px; border-color: blue; border-radius:50%;' src = '{{group.group_picture.url}}'>
			{% endif %}
			<a class = 'group' href = '{% url "group-room" group.name %}'>{{group}}	
			</a>
			<p style = 'color:black;margin-left:70px;font-size:12px;position: relative;bottom: 35px'>{{message}}</p>
			<br>
			
			
			
			{% endfor %}
			
		</div>
			
		
	</div>


	
	
</div>


	
{% endblock %}

