{% extends 'main1.html' %}
{% load static %}
{% block content %}
<div style = 'background-color:white;padding-top:10px;height:470px;'>
	<a href = '{% url "group-room" group.name %}'><img  style = 'background-color: white;border-width:5px; border-style: solid;border-color: white;height:30px;border-radius:50%' src ='{% static "bamchat_image/previous.png" %}' ></a>
	<div style = 'text-align:center; padding-bottom: 15px;background-color: white;width:100%;margin-right: auto;margin-left: auto;'>
		<div style = 'padding-bottom: 15px;width:97%;margin-right: auto;margin-left: auto;'>
			<p>{{group.name}}<br>{{num_of_participant}} member(s)</p>
			<p style = 'border-style: double;border-color: blue;padding:10px;'>{{group.desc}}</p>
			{% if group.admin == request.user %}
			<a style = 'color:white;background:blue;padding:3px;border-radius:20px;' href = '{% url "edit-group-info" group.name %}'>Edit group name or description</a><br><br>

			<a style = 'color:white;background:blue;padding:3px;border-radius:20px;' href = '{% url "edit-group-picture" group.id %}'>Change group picture</a><br><br>
			 
			<a style = 'color:white;background: red;padding:3px;border-radius:20px;' href = '{% url "delete-group" group.name %}'>Delete group</a>
			<a style = 'color:white;background: red;padding:3px;border-radius:20px;' href = '{{group.admin.id}}'>Leave group</a>
			<hr>

			{% endif %}
		</div>
		
	</div>
	<div style = 'padding-bottom: 15px;margin-right: auto;margin-left: auto;background-color: white'>
	
		<div style = 'padding-bottom: 15px;width:97%;margin-right: auto;margin-left: auto;'>
			{% if group.admin == request.user %} 
			<form method = 'post'>
				{% csrf_token %}
			<input style = 'text-indent: 20px;border-color: blue;height:25px' name = 'number' type = 'number' placeholder="enter phone number " value = '{{number}}' required>
			<input style = "color:white; background:blue;border-radius:15px;border-style:none;padding:5px" type = 'submit' value = 'Add to group'>
			</form>
			{% for message in messages %}
				<p class = 'red'>{{message}}</p>
			{% endfor %}

			{% endif %}
		</div>

	</div>
	<div style = 'padding-bottom: 15px;margin-right: auto;margin-left: auto;background-color: white'>
		<div style = 'padding-bottom: 15px;width:97%;margin-right: auto;margin-left: auto;'>
			{% if mem_num > 0 %}
			<h3>Group Members</h3>

			<table >
				<colgroup style = 'width:250px;'>
					<col>
					<col>
					<col>
				</colgroup>
				<tr style='padding:15px'>
					<td>Name</td>
					<td>Contact</td>
					<!-- <td>{% if group.admin == request.user %}<a>Remove</a>{% endif %}</td> -->
				</tr>

				{% for mem in group.participant.all %}
				<tr >
					<td style ='padding:15px 0px 0px 0px'><a style='color:blue' href = "{% url 'chat-room' mem.id %}">{{mem}}</a></td>
					<td >{{mem.usercontact.phone_number}}</td>
					<td >{% if group.admin == request.user %}<a href = '{{mem.id}}'style = 'color:white;background: red;padding:3px;border-radius:20px;'>Remove</a>{% elif mem == request.user %}<a href = '{{mem.id}}' style = 'color:white;background: red;padding:3px;border-radius:20px;'>Leave</a>{% endif %}</td>
				</tr>
				{% endfor %}
			</table>
			{% endif %}
		</div>
		
		
		
	</div>
</div>
{% endblock content %}