{% extends 'main1.html' %}
{% load static %}
{% block title %}




{% endblock %}

{% block script %}
<!-- <script src = '{% static "javascript/main1.js" %}' defer></script> -->
{% endblock script%}

{% block content %}

<div class="chat-room">
	<header class = 'header-design'>
		<a href = '{% url "group-page" %}'><img  style ='border-radius:50%;width:40px;height:40px;margin-left:-10px;' src ='{% static "bamchat_image/previous.png" %}' >
		</a>
		<a class="group-title" href ='{% url "group-info" group_name %}' >{{group_name}}<br>
		<small class = 'for-grp-info'>(tap here for group info)</small>
		</a>
	</header>
	<section class="chatting-section">
		{% for message_and_group_id, message in messages_and_group_id %}
		{% if message.sender == request.user %}
		<div class = 'sender-message'>
			<!-- <img style="width:30px;height:30px;border-radius: 50%" src="{{message.sender.usercontact.picture.url}}">
			<a style="color:blue;position: relative;bottom: 20px;font-size: 12px;margin-left:-5px" href="">{{message.sender}}
			</a> -->
			<section class = 'group-message'>
				{{message.text}}
			</section>

			<section style="font-size:12px;margin:5px 0px 5px 0px">
				<a style ='color:blue;margin-right:2px'  href="{% url 'edit-group-message' message_and_group_id %}">edit</a>
				<a style ='color:red;margin-left:2px' href="{% url 'delete-group-message' message_and_group_id %}">delete</a>
			</section>
			<section style="font-size:12px">
				{{message.time}}
			</section>
			
		</div>
		
		{% else %}

		<div class = 'receiver-message'>
			<img style="width:30px;height:30px;border-radius: 50%" src="{{message.sender.usercontact.picture.url}}">
			<a style="color:white;position: relative;bottom: 20px;font-size: 12px;margin-left:-5px" href="">{{message.sender}}
			</a>

		<p class = 'group-message'>{{message.text}}</p>
		<small style = 'font-size: 9px;font-weight: 300;float:right'>{{message.time}}</small><br>
		</div>
		{% endif %}
		{% endfor %}
	</section>

	<footer class ='input-message'>
		<form method = 'post' action  = ''>
				{% csrf_token %}
				<textarea class = 'submit-form' name = 'text' required></textarea>
				<input class = 'send' type = 'submit' value = 'send'>
		</form>
	</footer>
	
</div>
{% endblock content %}


