{% extends 'main1.html' %}

{% load static %}
{% block title %}
Bamchat Homepage
{% endblock %}

{% block script %}
<script src = '{% static "javascript/main1.js" %}' defer></script>
{% endblock script%}

{% block content %}

<div id = 'main'>
	 <!-- |  -->
	<!-- <img class = 'image'  src = '{% static "bamchat_image/logo.png" %}'> -->
	<div class = 'header-bg'>
		<div class = 'head'>
			<!-- button id = 'show-profile'> -->
			<a href = '{% url "profile-picture" %}'><img class = 'icon' style = 'border-radius:50%; height:110%; background:white; float:left; margin-top:5px; margin-right: 5px' src = '{{user.usercontact.picture.url}}'></a>

			<img title = 'Menu' id = 'show-profile' class = 'icon' style = 'background:white;float:right;margin-top:5px;margin-right: 5px;border-radius:30%' src = '{% static "bamchat_image/menu.png" %}'>
		<!-- </button> -->
		<p style = 'font-size:14px; 'class = 'search'>Bamchat | Welcome {{user.username.upper}}</p>
		</div>
<!-- class = 'active' -->
		<div class = 'head2'>
			<a href = '{% url "home-page"%}' ><img title="Home" style = 'background:white;border-radius:25px;border-width:3px;border-style:solid;border-color: white' class = 'icon' src = '{% static "bamchat_image/home-button.png" %}'></a>
			<a href = '{% url "friend-page"%}'><img title="Friend" class = 'icon' src = '{% static "bamchat_image/friend.png" %}'></a>
			<a href = '{% url "chats"%}' ><img title="Chat" class = 'icon' src = '{% static "bamchat_image/chat.png" %}'></a>
			<a href = '{% url "group-page" %}'><img title="Group" class = 'icon' src = '{% static "bamchat_image/group.png" %}'></a>
			
		</div>
	</div>
	<div style = 'background-color:white;padding-bottom: 150px' class = 'content-bg'>
		<div style = 'background-color:white;height:60px;padding-top:15px;display: block;font-size:14px'>
			<a href = '{% url "create-post" %}' class = 'button'>Add post</a>
		</div>
		<div style = 'background-color: white; padding-bottom:100px' class= "post-container">
			{% for post in posts %}

			<div style = 'background-color:white;padding-top:15px;display: block;font-size:14px; width:90%;margin-right:auto;margin-left:auto;padding:3px;border-style:solid ;border-color:blue;margin-top:2px;border-width:1px;color:blue'>
				<a style = 'color:blue' href = '{% url "comment" post.id %}'>

				<div>
					
					<img class = 'icon' src = '{{post.post_creator.usercontact.picture.url}}'>
					<small>{{post.post_creator}}</small>
					
		
					<div>
						<h3 style="text-align: justify;margin-left: 40px;">          {{post.content}} - <small>{{post.time|timesince}} ago</small>
						</h3>
						{% if post.post_img %}
						<section style="width:70%; margin-right:auto;margin-left:auto;">
							<img style = 'width:80%' src="{{post.post_img.url}}">
						</section>
						{% endif %}
						<p>
							<small >
								{% if request.user in post.like.all %} 
								<a style = 'margin-left:10px; color:blue' href = '{% url "unlike_post" post.id %}'>Unlike({{post.like.all.count}})
								</a> 
								{% else %} 
								<a style = 'margin-left:10px; color:blue' href = '{% url "like_post" post.id %}'>Like({{post.like.all.count}})</a> 
								{% endif %}

							</small>
							<small>
								<a style = 'color:blue' href = '{% url "comment" post.id %}'>Comment
								</a>
								{% if post.post_creator == request.user %}
								<a style = 'color:blue' href="{% url 'edit-post' post.id %}">edit post
								</a>
								<a style = 'color:red' href="{% url 'delete-post' post.id %}">delete post
								</a>
								{% endif %}
							</small>
						</p>
						
					</div>
					
					
				</div>
				</a>

			<br>
			</div>
			
			{% endfor %}
		</div>
		
	</div>


	
		
	
	
</div>

<div id ='profile-section'>
	<div class = 'button-container'>
		<!-- <button id = 'close'> -->
		<img title="Close"  id = 'close' class = 'icon' src = '{% static "bamchat_image/close.png" %}'> 
	<!-- </button> -->
	</div>
	
	<div class = 'profile'>
		<div class = 'section'>
			<!-- <hr class = 'line' style = 'clear: right'> -->
	
			<h3>Username</h3>
			<p class = 'edit'>{{user.username}}<span><a style ="color:blue" href = '{% url "change-username" %}'>Edit</a></span></p>
		</div>

		<div class = 'section'>
			<!-- <hr class = 'line' style = 'clear: right'> -->
	
			<h3>Email</h3>
			<p class = 'edit'>{{user.email}}<span><a style ="color:blue" href = '{% url "change-email" %}'>Edit</a></span></p>
		</div>

		<div class = 'section'>
			<!-- <hr class = 'line' style = 'clear: right'> -->
	
			<h3>Phone number</h3>
			<p class = 'edit'>{{user.usercontact.phone_number}}<span><a style ="color:blue" href = '{% url "change-phonenumber" %}'>Edit</a></span></p>
		</div>

		<div class = 'section'>
			<!-- <hr class = 'line' style = 'clear: right'> -->
	
			<h3>Change password</h3>
			<p class = 'edit' ><a style ="color:blue;margin-left: 0%" href = '{% url "new-password" %}'>change password</a></p>
		</div>

		<div class = 'section'>
			<!-- <hr class = 'line' style = 'clear: right'> -->
	
			<h3>Profile picture</h3>
			<p class = 'edit' ><a style ="color:blue;margin-left: 0%" href = '{% url "profile-picture" %}'>change profile picture</a></p>
			
		</div>

		<div class = 'section'>
			
	
			<h3>My Contact</h3>
			<p class = 'edit' ><a style ="color:blue;margin-left: 0%" href = '{% url "my-friends" %}'>View all</a></p>
			
			
		</div>


		<div class = 'section'>
			
	
			<h3>Feedback</h3>
			<p class = 'edit' ><a style ="color:blue;margin-left: 0%" href = '{% url "feedback" %}'>Give feedback</a></p>
			
			
		</div>

		
		<div class = 'section'>
			<hr class = 'line' style = 'clear: right'>	
			<table>
				<tr>
					<td style='width:50%'><a href = 'logout'><img title="Logout" class = 'icon' src = '{% static "bamchat_image/logout.png" %}'></a></td>
					<td style='width:5%'><a style ='color:red;' href = 'logout'>Logout</a></td>
				</tr>
			</table>
			<hr class = 'line' style = 'clear: right'>	
			

		</div>
		

	</div>
	

	
</div>
	
{% endblock %}

