{%extends 'main2.html' %}



{% block title %}

BAMCHAT : LOGIN PAGE

{% endblock %}



{% block content %}
<div class = 'signup-container'>
	{% for message in messages %}
	

	{% if message.tags is error %}
	<p  style = 'color:red' class ='login-message'>{{message}}</p>
	{% else  %}
	
	<p style = 'color:green'  class ='login-message'>{{message}}</p>
	{% endif %}
	{% endfor %}
	<div class = 'signup-form'>
		<form method = 'post' action  = ''>
			{% csrf_token %}
			<p class = 'pbutton'>Enter your login details</p>
			<p><label for = 'username'>Enter email or phone number <br><br><input class = 'input' type = 'text' id = 'username' placeholder="Enter email or phone number" name = 'username' value = '{{username}}'required></label></p>

			<p><label for = 'password'>Enter password<br><br><input class = 'input' type = 'password' id = 'password' placeholder="Enter password" name = 'password' value ='{{password}}' required></label></p>

			<p>Forgotten your password?<a style ='color:blue;' href = '{% url "forget-password" %}'> Click here</a></p>

			<p>No account?<a style ='color:blue;' href = '{% url "signup-page" %}'> Sign up</a></p>

			
			<input class = 'login-button' type = 'submit' value = 'Login' >

		</form>
		
	</div>
</div>



{% endblock %}