{% extends 'main1.html' %}

{% load static %}

{% block title %}
Bamchat
{% endblock title %}


{% block content %}
<div class = 'content-bg'>
	<div class = 'user'>
		<a style = 'float:left; text-align: left;' onclick = "history.back(-2)" ><img  style = 'background-color: white;border-width:5px; border-style: solid;border-color: white; ' class = 'icon' src ='{% static "bamchat_image/previous.png" %}' ></a><br>
			<p style = 'text-align: center;'>{{USER.username}} profile</p>
		</div>
	<div class = 'img-container'>
		
		
		
		<img style = 'border-radius:50%; margin-right: auto; margin-left: auto'class = 'image' src ='{{USER.usercontact.picture.url}}' ><br>
		
		{% if user.username == USER.username %}
			<a href = '{% url "profile-picture" %}' class = 'change-pic'>change profile picture</a>
		{% elif fnd.accept == t %}
		<a  href = '{% url "delete" fnd.id %}' class = 'link-button'>unfriend</a>
		{% elif fnd.accept is false %}
		<a href = '{% url "delete" fnd.id %}' class = 'link-button'>Cancel request</a>
		{% else %}
			<a class = 'link-button' href = '{% url "send_request" f %}' >{{fnd}}</a>
		{% endif %}

	</div>
		
		
	<!-- <div>
		
	</div> -->
		
</div>


{% endblock content %}
