{% extends 'main1.html' %}

{% load static %}

{% block title %}
Bamchat
{% endblock title %}


{% block content %}
<div class = 'content-bg'>
	<div class = 'user'>
		<a style = '' onclick = "history.back(-2)" ><img style="width:30px; height:30px;border-radius: 50%; margin-left:-20px" src ='{% static "bamchat_image/previous.png" %}' >
		</a>
		<a style = 'color:white;position: relative;left:-40px;bottom:10px'>{{USER.username}} profile</a>
		</div>
	<div class = 'img-container'>
		
		<section style="margin:0px auto 0px auto;width:250px;height:250px">
			<img style="width:250px; height:250px; border-radius:50%;" src ='{{USER.usercontact.picture.url}}' >
		</section>
		
		<br>
		
		{% if user.username == USER.username %}
			<a href = '{% url "profile-picture" %}' class = 'link-button'>change profile picture</a>
		{% elif fnd.accept == t %}
		<a  href = '{% url "delete" fnd.id %}' class = 'link-button'>unfriend</a>
		<br>
		<a href="{% url 'chat-room' USER.id %}" class="link-button" 	>Message</a>
		{% elif fnd.accept is false %}
		<a href = '{% url "delete" fnd.id %}' class = 'link-button'>Cancel request</a>
		<br>
		<a href="{% url 'chat-room' USER.id %}" class="link-button" 	>Message</a>
		{% else %}
			<a class = 'link-button' href = '{% url "send_request" f %}' >{{fnd}}</a>
			<!-- <br>
		<a href="{% url 'chat-room' USER.id %}" class="link-button" 	>Message</a> -->
		{% endif %}

	</div>
		
		
	<!-- <div>
		
	</div> -->
		
</div>


{% endblock content %}
