.signup-container{
	display:block;
	text-align:center;
	/*margin:90px 20% 50px 20%;*/
	border-width:5px;
	/*border-style:groove;*/
	/*border-color:white;*/
	border-radius:25px;
	width:80%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;

}
.success{
	display:block;
	margin-left: auto;
	margin-right: auto;
	text-decoration:none;
	/*color:red; */
	background:white;
	/*color:red;*/
	padding:5px;
	border-width:3px;
	width:50%;
	/*border-style:outset;*/
	/*border-color:blue;*/
	/*border-radius:50px;*/
	font-size:13px;
	color:green;
}

.error{
	display:block;
	margin-left: auto;
	margin-right: auto;
	text-decoration:none;
	/*color:red; */
	background:white;
	/*color:red;*/
	padding:5px;
	border-width:3px;
	width:50%;
	/*border-style:outset;*/
	/*border-color:blue;*/
	/*border-radius:50px;*/
	font-size:13px;
	color:green;
}
.signup-form{
	background:white;
	display:block;
	/*margin:20px 20% 20px 20%;*/
	padding:10px 10px 50px 10px;
	color:blue;
	font-size:13px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border-width:5px;
	border-style:ridge;
	border-color:white;
	border-radius:25px;
	overflow: auto;
	width:70%;
}

.required{
	color:red;
}

.link{
	text-decoration:none;
	color:blue; 
	float:left;
	margin-left:15%;
	background:blue;
	color:white;
	padding:5px;
	border-width:3px;
	border-style:outset;
	border-color:blue;
	border-radius:50px;
	font-size:16px;

}

.link-1{
	display:block;
	text-align: center;
	text-decoration: none;
	font-size:15px;
	/*border-radius:20px;*/
	color:blue;
	background:white;
	width:40%;
	padding:3px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	
	}

.link-2{
	
	color:blue;
	
	width:100%;
	}

.cbutton{
	text-decoration:none;
	color:blue; 
	background:blue;
	color:white;
	padding:5px;
	border-width:3px;
	border-style:outset;
	border-color:blue;
	border-radius:50px;
	font-size:13px;

}

.sbutton{
	display:block;
	margin-left: auto;
	margin-right: auto;
	text-decoration:none;
	/*color:red; */
	background:white;
	color:red;
	padding:5px;
	border-width:3px;
	width:50%;
	/*border-style:outset;*/
	/*border-color:blue;*/
	/*border-radius:50px;*/
	font-size:13px;

}

.rbutton{
	display:block;
	margin-left: auto;
	margin-right: auto;
	text-decoration:none;
	color:blue; 
	background:white;
	color:red;
	padding:5px;
	border-width:3px;
	width:50%;
	/*border-style:outset;*/
	/*border-color:blue;*/
	/*border-radius:50px;*/
	font-size:13px;

}

.pbutton{
	text-decoration:none;
	color:blue; 
	background:blue;
	color:white;
	padding:5px;
	border-width:3px;
	border-style:outset;
	border-color:blue;
	/*border-radius:50px;*/
	font-size:13px;

}
.button{
	text-decoration:none;
	color:blue; 
	float:right;
	margin-right:15%;
	background:blue;
	color:white;
	padding:5px;
	border-width:3px;
	border-style:outset;
	border-color:blue;
	border-radius:50px;
	font-size:16px;

}

.input{
	width:90%;
}

/*.image-container{
	margin:0px 40% 0px 80%;
}
*/
.plain{
	display:block;
	margin-left: auto;
	margin-right:auto;
	text-align:center;
	color:white;
	font-family:verdana;
	font-size:13px;
}

.plain a{
	color:white;
}
/*.form-entry{
	padding-bottom: 3px;
}*/