{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel = 'stylesheet' href = '{% static "main1.css" %}'>

  <title>
  {% block title%}  
  BAMCHAT
  {% endblock title %}
  </title>
</head>

<body>

  {% block script %}

  {% endblock script %}

  {% block content %} 
  

  {% endblock content %}
</body>
</html>